{% extends "admin/change_list.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<style>
    /* Make object-tools match the width of changelist-filter-sidebar */
    #changelist .object-tools {
        width: 240px;  /* Match Django's default filter sidebar width */
        float: right;
        margin-left: 0;
    }
    
    #changelist .object-tools li {
        width: 100%;
        margin-left: 0;
        display: block;
    }
    
    #changelist .object-tools li a.button {
        display: block;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }
</style>
{% endblock %}

{% block object-tools %}
<ul class="object-tools">
    <li>
        <a href="{{ kbart_upload_url }}" 
           class="button" 
           title="Upload KBART files from OCLC or your library system to import catalog/subscription data (CSV/TSV format)" 
           style="background-color: #6c757d; color: white; padding: 8px 15px; text-decoration: none; border-radius: 3px;">
            📁 Upload KBART File
        </a>
    </li>
    <!-- Django's default "Add" button removed by not including {{ block.super }} -->
</ul>
{% endblock %}
